

/* INIZIO REGOLE GENERALI */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#sez2 *{
  color: white;
}

/* INIZIO REGOLE GENERALI PER LISTE ED ELEMENTI DI LISTA*/


header a,
main a{
  text-decoration: none;
  color: #33475b;
}

li{
  list-style: none;
}

/* FORMATTAZIONI PRINCIPALI DEL TESTO */


h2,
h2.large,
h3,
h4{
  margin-bottom: 30px;
}

#sez2 h2.large{
  margin-bottom: 15px;
}


h1 {
  font-size:3em;
  font-weight: bold;
}

h2 {
  font-size:2em;
  font-weight: bold;
  }

h2.large {
  font-size:3em;
  font-weight: bold;
}

h3 {
  font-size:1.5em;
  font-weight: bold;
}

p{
  margin-top: 10px;
  margin-bottom: 10px;
}


/* REGOLE GENERALI*/



body {
  width: 100%;
  background-color: #f4f9fd;
  color: #33475b;
  font-size: 16px;
  font-family: 'Fira Sans', sans-serif;
}

.riga::after{
  display: table;
  content: "";
  clear: both;
}

.centratura{
  padding: 0 20%;
}


[class*="col-"]{
  float: left;
}

.fl-right{
  float: right;
}

/* regole generali del HEader */


header .carret::after {
  margin-left:30px;
  content: '\25BC';
  font-size: .8em;
}

#navbar-fixed .col-1,
#navbar-fixed .col-2{
  width: 50%;
}

#navbar-fixed {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #f4f9fd;
  padding:20px 0;
}

#navbar-main .col-1{
  width: 10%;
}

#navbar-main .col-2{
  width: 90%;
}

#navbar-main {
  font-size: 1.1em;
  font-weight: bold;
  background-color: white;
  padding:20px 0;
  margin-top: 62.5px;
}


a.login{
  text-decoration: none;
  color: #fe775a;
  background-color: white;
  border: 1px solid #fe775a;
  border-radius: 5px;
  padding: 8px 10px;
}




.pulsante-arancio{
  color: white;
  background-color: #fe775a;
  border-radius: 5px;
  text-decoration: none;
  padding: 8px 10px;
}


.jumbo .pulsante-arancio,
main .pulsante-arancio{
  display: block;
  padding:20px 50px;
  margin: 30px 0;
  text-align: left;
  display: inline-block;
}


/* regole generali del Jumbo */


.jumbo{
  background-image: url("../img/jumbotron.png");
  background-position: bottom right;
  height: 900px;
  background-size: cover;
}


.jumbo .claim{
  position: relative;
  top: 120px;
  width: 40%;
}

/* PADDING INTERNO GENERALE */


section img[class*="image-s1-"]{
  height: 120px;
  margin-bottom: 20px;
}

section img[class*="image-s3-"]{
  max-width: 120px;
  margin-right: 6%;
  margin-bottom: 20px;
  vertical-align: middle;
}


#sez1-sub1{
  width: 100%;
  padding: 0 10% 0 10%;
  margin-top: 60px;
  text-align: center;
}

#sez1-sub2{
  width: 100%;
  padding: 40px 10%;
  margin-top: 60px;
  border-radius: 5px;
  background-color: white;
}

#sez1-sub3 .col-1,
#sez1-sub3 .col-2,
#sez1-sub3 .col-3 {
  width: calc(100%/3);
  text-align: center;
  margin-top: 60px;
}


#sez1-sub3 [class*="container-"]{

  padding: 40px 7% 0 7%;
  width:90%;
  border-radius: 10px;
  background-color: white;
}

#sez1-sub3 [class*="container-r"]{
  float: right;
}

#sez1-sub3 [class*="container-m"]{
  margin:0 auto;
}

/* STILE H3 ALL'INTERNO DI SUBSEZIONE 2 */

#sez1-sub2 .col-1{
  width: 30%;
  vertical-align:middle;
}

#sez1-sub2 .col-2{
  text-align: left;
  width: 70%;
}

.centratura-verticale{
  display: inline-block;
  vertical-align: middle;
  width: 120%;
  margin-top: 60px;
}

#sez1-sub2 .col-2 h4 {
  display: inline-block;
  padding-bottom: 0;
}

#sez1-sub2 .col-2 hr.line{
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px;
  width: 60%;
}


hr.line{
  border: none;
  color: #33475b;
  background-color: #33475b;
  height: 2px;
}

#sez1-sub3 hr.line{
  margin:40px 0;
}

/* STILE LISTE CON CHECK MARK ARANCIONE*/

#sez1-sub1 ul{
  text-align: center;
}

#sez1-sub3 ul{
  text-align: left;
  margin-bottom: 30px;
}

.fa-check-circle{
  color: #fe775a;
  padding-right: 20px
}

/* REGOLE SEZIONE1 */

#sez1-sub3 .blocco-superiore{
  height: 300px;
}


/* REGOLE SEZIONE2 */


#sez2{
  margin: 60px 0 0 0;
  padding: 60px 0 80px 0;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(#00a8ba , #00b9a9 );
}

#sez2 .blocco-superiore{
  border-right: solid 1px white;
}


#sez2 .blocco-inferiore{
  border-right: solid 1px white;
  border-top: solid 1px white;
}

#sez2 .col-4 .blocco-superiore,
#sez2 .col-4 .blocco-inferiore{
  border-right: 0;
}


#sez2 .col-1,
#sez2 .col-2,
#sez2 .col-3,
#sez2 .col-4{
  width: 25%;
  text-align: center;
}

section div[class*="blocco-"]{
  padding: 12px 0 12px 0;
}

section div i[class*="far fa-"]{
  font-size: 35px;
  color: white;
}

section #sez2 #tabella .blocco-superiore h5,
section #sez2 #tabella .blocco-inferiore h6,{
  margin:0;
  padding:0;
}

#tabella{
  margin-top: 50px;
}



#sez2 .logos{
  display: inline-block;
  height:40px;
  vertical-align: middle;
}


/* REGOLE SEZIONE3 */


#sez3 .v1{
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

#sez3 .logos{
  width:20%;
  height: 100px;
  display: inline;
}

#sez3{
  padding: 60px 0;
  background-color: white;
}


#sez3 #sez3-sub1 .col-1{
  width: 30%;
  text-align: left;
  padding-right: 7%;
  padding-left: 7%;
}

#sez3 #sez3-sub1 .col-2{
  width: 70%;
  padding-left: 10%;
  text-align: right;
}


#sez3 #sez3-sub2 .col-1{
  width: 50%;
  text-align: left;
  margin-top: 50px;
  padding-right: 15%;
}

#sez3 #sez3-sub2 .col-2{
  width: 50%;
  padding-left: 10%;
  text-align: right;
}


  /*REGOLE DEL FOOTER */


footer{
  background-color:#32495b;
  padding: 60px 0;
  color: white;
}

footer h3{
  font-size: 16px;
}

footer li a{
  color:#91a0ae;
  text-decoration: none;
}

  /*REGOLE DEL FOOTER pulsante grigio */

footer li a.pulsante {
  color: #91a0ae;
  background-color: white;
  border-radius: 5px;
  padding: 8px 12px;
}

footer .col-4 .footer-list li:last-of-type{
  margin:15px 0 7px 0;
}


#footer-sez1{
  margin-bottom: 80px;
}

#footer-sez1 .col-1,
#footer-sez1 .col-2,
#footer-sez1 .col-3,
#footer-sez1 .col-4{
  width: 25%;
  text-align: left;
  line-height: 40px;
}


#footer-sez2{
  text-align: center;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}

#footer-sez3{
  padding-top: 30px;
}

#footer-sez3 .col-1,
#footer-sez3 .col-2{
  width:50%;
}


/* REFACTORING REGOLE LISTE*/

ul[class$="lx"] li{
  padding: 10px 25px;
}


ul[class$="rx"] li{
  padding: 10px 25px;
}


ul.social-inl-rx li{
  padding: 10px 10px;
}


ul.social-inl li{
  padding: 10px 10px;
}


ul[class$="rx"] li:last-child{
  padding-right: 0;
}

ul[class*="inl"] li{
  display: inline-block;
}

ul[class*="flr"]{
  float: right;
}


#navbar-fixed ul[class$="lx"] li:first-child{
  padding-left: 0;
  border-right: 2px solid #32495b;
}


ul[class$="lx"] li:first-child{
  padding-left: 0;
}





footer a:hover{
  color: #0091ae;
}

a.pulsante-arancio:hover{
  background-color: rgba(254, 119, 90, 0.5);
}

a.login:hover{
  background-color: rgba(254, 119, 90, 0.2);
}
