/* INIZIO REGOLE GENERALI */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  padding: 25px 0;
  line-height: 25px;
  color: #33475b;
}

h1 {
  font-weight: bold;
  font-size: 40px;
}

body {
  width: 100%;
  background-color: #f4f9fd;
  font-family: 'Fira Sans', sans-serif;
}


.riga::after{
  display: table;
  content: "";
  clear: both;
}

.centratura{
  padding: 0 20%;
}

header li{
  display: inline-block;
}

header li a{
  padding: 10px 10px;
  display: inline-block;
  color: black;
  text-decoration: none;
  padding-right: 10px;
}


#navbar-fixed .col-1,
#navbar-fixed .col-2{
  width: 50%;
}

#navbar-main .col-1{
  width: 10%;
}

#navbar-main .col-2{
  width: 90%;
}


#navbar-fixed {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding:20px 0;
  background-color: #f4f9fd;
}


#navbar-main {
 padding:20px 0;
 margin-top: 80px;
 background-color: white;
}

[class*="col-"]{
  float: left;
}

.fl-right{
  float: right;
}

a.login{
  text-decoration: none;
  color: green;
  background-color: white;
  border: 1px solid #fe775a;
  border-radius: 5px;
}


ul li a.pulsante-arancio,
a.pulsante-arancio{
  text-decoration: none;
  color: white;
  background-color: #fe775a;
  border-radius: 5px;
}



.jumbo{
  background-image: url("../img/jumbotron.png");
  background-position: bottom right;
  height: 900px;
  background-size: cover;
}


.jumbo .claim{
  padding-top: 200px;

}

.container{
  padding:30px 30px;

  /* debug */
  background-color: yellow;
}

#subsez1-primo .container{
  text-align: center;

}

#subsez1-secondo .col-1{
  text-align: center;
  width: 40%;
}






/* HEADER FINE REGOLE BARRA NAVIGAZIONE */
